.footer {
  text-align: center;
  background-color: gainsboro;
  margin: 0 auto;
  padding: 60px 0;
  width: 900px;
}

.footer a {
  font-size: 40px;
  color: lightpink;
}

.footer a:hover {
  color: purple;
  transition: 0.3s ease;
}

.footer p {
  font-family: Noto Sans Japonese;
  font-size: 25px;
}
